p.titulos{
	font-family: Arial, Serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 750;
	text-shadow: 6px -6px 6px white;
  cursor: pointer;
}

p.titulo2{
	font-family: Arial, Serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 750;
}

p.subtitulos{
    font-family: Arial, Serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 750;
}

input.cajatexto{
  font-family: Arial, Serif;
  font-style: italic;
  text-align: center;
  font-size: 18pt;
  background-color: Skyblue;
  border-radius: 10px;
  border-color: white;
}

input.cajaingreso{
  font-style: italic;
  text-align: center;
  border-radius: 8px;
  font-size: 11pt;
  box-shadow: 6px 7px 1px grey;
}

input.boton{
  font-family: Arial, Serif;
  font-style: italic;
  text-align: center;
  font-size: 15pt;
  background-color: silver;
  border-radius: 10px;
  border-color: Skyblue;
}

body{
  background-color:black;
}

div.cambiarcolor{
  background-color: Skyblue;
  padding: 60px;
  transition: 3s;
}

div.cambiarcolor:hover{
  background-color: orange;
}


